<p id="notice"><%= notice %></p>

<%= form_tag products_path, method: :post, class: 'form-inline' do %>
  <div class="form-group">
    <%= label_tag :url, "Walmart product url:", class: 'sr-only'  %>
    <%= text_field_tag :url, nil, class: 'form-control' %>
  </div>
  <%= button_tag "Add", class: 'btn btn-primary' %>
<% end %>

<h2>Products added</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.name, product %></td>
        <td><%= number_to_currency product.price %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
