<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency @product.price %>
</p>

<p>
  <strong>Url:</strong>
  <%= link_to @product.url, @product.url, target: '_blank' %>
</p>

<%= render @product.reviews %>

<%= link_to 'Back', products_path %>
